# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.2D_int_Grade_6_Hindi_Activity_Bhasha.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
